In [1]:
# Importation des modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
%matplotlib inline

# pour ignorer les warnings
import warnings
warnings.simplefilter("ignore")

# Données de prêt de Prosper

Cet ensemble de données contient 113 937 prêts avec 81 variables sur chaque prêt, y compris le montant du prêt, le taux de l'emprunteur (ou taux d'intérêt), le statut actuel du prêt, le revenu de l'emprunteur, et bien d'autres.

Vous n'êtes pas censé explorer toutes les variables de l'ensemble de données ! Concentrez votre exploration sur environ 10 à 15 d'entre elles.

In [2]:
df_prosper = pd.read_csv('prosperLoanData.csv')
df_prosper.head(6)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20
5,0F05359734824199381F61D,1074836,2013-12-14 08:26:37.093000000,NaN,60,Current,NaN,0.15425,0.1314,0.1214,...,-25.33,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

>Ici Vous allez constater le dataser contient des valeurs manquantes NaN

Je Vais utiliser la fonction **ProfileReport** de **pandas_profiling** pour vous montrer un rapport complét sur l'ensemble de données de prêt de Prosper afin que vous
puissiez visualiser de maniére tres claire et nette le résumer sur les données, les differentes variables du dataset, les valeurs manquantes, les valeurs dupliqués, l'interactions entre les différentes variables et leurs corrélations etc. Visualiser lefichier **rapport_prosper.html** qui est dans le dossier racine du projet.

In [3]:
df=ProfileReport(df_prosper,title="raport descrptive")
#df.to_file("rapport_prosper.html")

In [4]:
print('Le dataset contient en ensembles {} lignes et {} colonnes avec une taille de {}'.format(
     df_prosper.shape[0],df_prosper.shape[1],format(df_prosper.size)))

Le dataset contient en ensembles 113937 lignes et 81 colonnes avec une taille de 9228897

Ici le nombres de variables est extrémement importante car nous avons **81** variables en totale mais nous allons explorer 10 à 15 variables pour l'analyse de ce projet.

In [5]:
df_prosper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

> - Conversion (object => datetime) pour les variables comme **LoanOriginationDate,DateCreditPulled, LoanOriginationQuarter, ListingCreationDate, ClosedDate**

In [11]:
df_prosper[['LoanOriginationDate','DateCreditPulled',
            'ListingCreationDate','ClosedDate']] = df_prosper[['LoanOriginationDate',
                        'DateCreditPulled','ListingCreationDate','ClosedDate']].apply(pd.to_datetime)

In [12]:
df_prosper.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  datetime64[ns]
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   datetime64[ns]
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  datetime64[ns]
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  datetime64[ns]
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), datetime64[ns](4), float64(50), int64(11), object(13)
memory usage: 68.1+ MB

In [15]:
df_prosper.describe()

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
count,1.139370e+05,113937.000000,113912.000000,113937.000000,113937.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,...,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000
mean,6.278857e+05,40.830248,0.218828,0.192764,0.182701,0.168661,0.080306,0.096068,4.072243,5.950067,...,-54.725641,-14.242698,700.446342,681.420499,25.142686,0.998584,0.048027,0.023460,16.550751,80.475228
std,3.280762e+05,10.436212,0.080364,0.074818,0.074516,0.068467,0.046764,0.030403,1.673227,2.376501,...,60.675425,109.232758,2388.513831,2357.167068,275.657937,0.017919,0.332353,0.232412,294.545422,103.239020
min,4.000000e+00,12.000000,0.006530,0.000000,-0.010000,-0.182700,0.004900,-0.182700,1.000000,1.000000,...,-664.870000,-9274.750000,-94.200000,-954.550000,0.000000,0.700000,0.000000,0.000000,0.000000,1.000000
25%,4.009190e+05,36.000000,0.156290,0.134000,0.124200,0.115670,0.042400,0.074080,3.000000,4.000000,...,-73.180000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000
50%,6.005540e+05,36.000000,0.209760,0.184000,0.173000,0.161500,0.072400,0.091700,4.000000,6.000000,...,-34.440000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,44.000000
75%,8.926340e+05,36.000000,0.283810,0.250000,0.240000,0.224300,0.112000,0.116600,5.000000,8.000000,...,-13.920000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,115.000000
max,1.255725e+06,60.000000,0.512290,0.497500,0.492500,0.319900,0.366000,0.283700,7.000000,11.000000,...,32.060000,0.000000,25000.000000,25000.000000,21117.900000,1.012500,39.000000,33.000000,25000.000000,1189.000000

In [9]:
var_nums = df_prosper[['ListingNumber','Term','BorrowerAPR','BorrowerRate',
                       'LenderYield','Investors','ProsperScore','LoanNumber','LoanOriginalAmount']]

In [10]:
var_nums

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,Investors,ProsperScore,LoanNumber,LoanOriginalAmount
0,193129,36,0.16516,0.1580,0.1380,258,NaN,19141,9425
1,1209647,36,0.12016,0.0920,0.0820,1,7.0,134815,10000
2,81716,36,0.28269,0.2750,0.2400,41,NaN,6466,3001
3,658116,36,0.12528,0.0974,0.0874,158,9.0,77296,10000
4,909464,36,0.24614,0.2085,0.1985,20,4.0,102670,15000
...,...,...,...,...,...,...,...,...,...
113932,753087,36,0.22354,0.1864,0.1764,1,5.0,88485,10000
113933,537216,36,0.13220,0.1110,0.1010,22,8.0,55801,2000
113934,1069178,60,0.23984,0.2150,0.2050,119,3.0,123122,10000
113935,539056,60,0.28408,0.2605,0.2505,274,5.0,56401,15000
113936,1140093,36,0.13189,0.1039,0.0939,1,7.0,127508,2000

In [11]:
var_object = df_prosper[['LoanStatus','BorrowerState','EmploymentStatus',
                         'ProsperRating (Alpha)','Occupation',
                           'LoanOriginationDate']]

In [12]:
var_object

,LoanStatus,BorrowerState,EmploymentStatus,ProsperRating (Alpha),Occupation,LoanOriginationDate
0,Completed,CO,Self-employed,NaN,Other,2007-09-12 00:00:00
1,Current,CO,Employed,A,Professional,2014-03-03 00:00:00
2,Completed,GA,Not available,NaN,Other,2007-01-17 00:00:00
3,Current,GA,Employed,A,Skilled Labor,2012-11-01 00:00:00
4,Current,MN,Employed,D,Executive,2013-09-20 00:00:00
...,...,...,...,...,...,...
113932,Current,IL,Employed,C,Food Service Management,2013-04-22 00:00:00
113933,FinalPaymentInProgress,PA,Employed,A,Professional,2011-11-07 00:00:00
113934,Current,TX,Employed,D,Other,2013-12-23 00:00:00
113935,Completed,GA,Full-time,C,Food Service,2011-11-21 00:00:00
113936,Current,NY,Employed,A,Professor,2014-01-21 00:00:00

- **Convertion (object => categorical)**

In [13]:
df_prosper[['LoanStatus','BorrowerState','EmploymentStatus',
            'ProsperRating (Alpha)','Occupation']] = df_prosper[['LoanStatus','BorrowerState',
                                'EmploymentStatus','ProsperRating (Alpha)','Occupation']].astype('category')

In [14]:
df_prosper.dtypes

ListingKey                      object
ListingNumber                    int64
ListingCreationDate             object
CreditGrade                     object
Term                             int64
                                ...
PercentFunded                  float64
Recommendations                  int64
InvestmentFromFriendsCount       int64
InvestmentFromFriendsAmount    float64
Investors                        int64
Length: 81, dtype: object

In [15]:
var_categorical = df_prosper[['LoanStatus','BorrowerState','EmploymentStatus',
                              'ProsperRating (Alpha)','Occupation']]

In [16]:
var_categorical

,LoanStatus,BorrowerState,EmploymentStatus,ProsperRating (Alpha),Occupation
0,Completed,CO,Self-employed,NaN,Other
1,Current,CO,Employed,A,Professional
2,Completed,GA,Not available,NaN,Other
3,Current,GA,Employed,A,Skilled Labor
4,Current,MN,Employed,D,Executive
...,...,...,...,...,...
113932,Current,IL,Employed,C,Food Service Management
113933,FinalPaymentInProgress,PA,Employed,A,Professional
113934,Current,TX,Employed,D,Other
113935,Completed,GA,Full-time,C,Food Service
113936,Current,NY,Employed,A,Professor

- **Nous allons travailler sur les 16 variables que nous avons dans le dataframe df_copy suivante**

In [17]:
df_copy =  df_prosper[['ListingNumber','Term','BorrowerAPR','BorrowerRate',
                       'LenderYield','Investors','ProsperScore','LoanStatus',
                         'BorrowerState','EmploymentStatus',
                         'ProsperRating (Alpha)','Occupation',
                           'LoanOriginationDate','LoanNumber','LoanOriginalAmount']]

In [18]:
df_copy

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,Investors,ProsperScore,LoanStatus,BorrowerState,EmploymentStatus,ProsperRating (Alpha),Occupation,LoanOriginationDate,LoanNumber,LoanOriginalAmount
0,193129,36,0.16516,0.1580,0.1380,258,NaN,Completed,CO,Self-employed,NaN,Other,2007-09-12 00:00:00,19141,9425
1,1209647,36,0.12016,0.0920,0.0820,1,7.0,Current,CO,Employed,A,Professional,2014-03-03 00:00:00,134815,10000
2,81716,36,0.28269,0.2750,0.2400,41,NaN,Completed,GA,Not available,NaN,Other,2007-01-17 00:00:00,6466,3001
3,658116,36,0.12528,0.0974,0.0874,158,9.0,Current,GA,Employed,A,Skilled Labor,2012-11-01 00:00:00,77296,10000
4,909464,36,0.24614,0.2085,0.1985,20,4.0,Current,MN,Employed,D,Executive,2013-09-20 00:00:00,102670,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,753087,36,0.22354,0.1864,0.1764,1,5.0,Current,IL,Employed,C,Food Service Management,2013-04-22 00:00:00,88485,10000
113933,537216,36,0.13220,0.1110,0.1010,22,8.0,FinalPaymentInProgress,PA,Employed,A,Professional,2011-11-07 00:00:00,55801,2000
113934,1069178,60,0.23984,0.2150,0.2050,119,3.0,Current,TX,Employed,D,Other,2013-12-23 00:00:00,123122,10000
113935,539056,60,0.28408,0.2605,0.2505,274,5.0,Completed,GA,Full-time,C,Food Service,2011-11-21 00:00:00,56401,15000
113936,1140093,36,0.13189,0.1039,0.0939,1,7.0,Current,NY,Employed,A,Professor,2014-01-21 00:00:00,127508,2000

> Je constate le dataframe df_copy contient des valeurs manquantes NaN
- **Checks des valeurs manquantes**

In [19]:
df_copy.isna().sum()

ListingNumber                0
Term                         0
BorrowerAPR                 25
BorrowerRate                 0
LenderYield                  0
Investors                    0
ProsperScore             29084
LoanStatus                   0
BorrowerState             5515
EmploymentStatus          2255
ProsperRating (Alpha)    29084
Occupation                3588
LoanOriginationDate          0
LoanNumber                   0
LoanOriginalAmount           0
dtype: int64

**Suppression des données manquantes**

In [20]:
df_copy.dropna(inplace = True)

In [21]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83520 entries, 1 to 113936
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ListingNumber          83520 non-null  int64
 1   Term                   83520 non-null  int64
 2   BorrowerAPR            83520 non-null  float64
 3   BorrowerRate           83520 non-null  float64
 4   LenderYield            83520 non-null  float64
 5   Investors              83520 non-null  int64
 6   ProsperScore           83520 non-null  float64
 7   LoanStatus             83520 non-null  category
 8   BorrowerState          83520 non-null  category
 9   EmploymentStatus       83520 non-null  category
 10  ProsperRating (Alpha)  83520 non-null  category
 11  Occupation             83520 non-null  category
 12  LoanOriginationDate    83520 non-null  object
 13  LoanNumber             83520 non-null  int64
 14  LoanOriginalAmount     83520 non-null  int64
dtypes: category(5), float64(4), int64(5), object(1)
memory usage: 7.4+ MB

In [22]:
df_copy.duplicated().sum()

0

**Stockage:** Je vais sauvagarder les données du dataframe df_copy dans un dataset appelé **prosper_data_clean.csv.** Ce dataser contient les 15 variables qe nous allons analyser pour ce projet.

In [23]:
df_copy.to_csv('prosper_data_clean.csv', index=False)

**NB:** Notre premier partie s'arrête ici; nous allons faire l'analyse exploratoire dans le fichier **prosper_loan_data_part1.ipynb** et l'analyse explicative dans le fichier **prosper_loan_data_part2.ipynb**